html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer,
.navbar {
  display: flex;
  justify-content: center;
  margin: 2em auto;
}
.footer {
  margin: 2em auto;
}
.footer a {
  font-weight: bold;
  margin-left: 0.25rem;
}

.footer a:hover {
  color: goldenrod;
  border-bottom: 1px solid black;
  letter-spacing: 0.75px;
}

.navbar > a {
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid black;
  padding: 1em;
  margin-top: 1em;
}

.navbar > a:hover {
  color: goldenrod;
}
